<!-- BIO -->
<section class="grid-x grid-padding-x bio">
  <div class="grid-container ">
  <!-- Header -->
  <header class="large-12 cell text-center">
    <h2 data-aos="fade-up" data-aos-duration="1200">Something about me</h2>
  </header>
  <div class="grid-x ">
    <!-- Bio Content -->
    <div class="large-6 cell content">
      <article>
        <h4 data-aos="fade-up" data-aos-duration="1200">Just a random title</h4>
        <p data-aos="fade-up" data-aos-duration="1200">I am always enthusiastic and excited to learn and to know something more. I am currently learning React in my spare time.
        I keep high my motivations to continue to improve my developer skills every day. Giving to my self yearly goals, weekly goals, daily goals is the key of my progress.</p>
        <!-- <span data-aos="fade-up" data-aos-duration="1200"> -->
          <a href="cv.html" class="button" type="button" title="See my CV">See my CV</a>
        <!-- </span> -->
      </article>
    </div>
    <!-- Portrait Image -->
    <figure class="large-6 cell portrait">
      <img src="{{root}}/assets/img/image-3.jpeg" alt="Portrait" data-aos="fade-up" data-aos-duration="1200">
    </figure>
  </div>
    </div>
</section>
