<!-- FOOTER -->
<footer class="grid-x grid-padding-x contact">
  <div class="grid-container">
    <!-- Header -->
    <header class="large-12 cell text-center">
      <h2 data-aos="fade-up" data-aos-duration="1200">How To Reach Me</h2>
    </header>
    <div class="large-6 cell">
      <!-- Form -->
      <form class="text-center" action="validation.php" method="post" data-aos="fade-up" data-aos-duration="1200">
        <input type="text" name="name" value="Name"  data-aos="fade-up" data-aos-duration="1200">
        <input type="text" name="subject" value="Subject" data-aos="fade-up" data-aos-duration="1200">
        <input type="text" name="email" value="Email" data-aos="fade-up" data-aos-duration="1200">
        <!-- <span data-aos="fade-up" data-aos-duration="1200"> -->
          <a class="button" type="button" name="button">Submit</a>
        <!-- </span> -->
      </form>
    </div>
    <!-- Socials Menu -->
    <div class="socials">
      <ul class="menu">
        <li><a href="https://www.linkedin.com/in/francesco-d-alo%C3%A8-268236101/" class="fa fa-linkedin" title="Linkedin" target="_blank"></a></li>
        <li><a href="https://www.instagram.com/francesco_daloe/" class="fa fa-instagram" title="Instagram" target="_blank"></a></li>
        <li><a href="https://github.com/Cesc84" class="fa fa-github" title="Github" target="_blank"></a></li>
      </ul>
    </div>
    <div class="large-12 cell text-center">
      <h6>&copy; Copyright 2020</h6>
    </div>
    <!-- Scrollbar Up -->
    <aside class="scrollbar up">
      <a href="#work">Scroll Up</a>
    </aside>
  </div>
</footer>
