<!-- HERO -->
<section class="grid-x grid-padding-x hero">
  <div class="grid-container">
    <div class="cell large-12">
      <!-- Main Content -->
      <div class="hero-content text-center">
        <h1 class="name"></h1>
        <h3 class="subtitle"></h3>
      </div>
      <!-- Socials Menu -->
      <div class="top-bar-left socials">
        <ul class="menu">
          <li><a href="https://www.linkedin.com/in/francesco-d-alo%C3%A8-268236101/" class="fa fa-linkedin" title="Linkedin" target="_blank"></a></li>
          <li><a href="https://www.instagram.com/francesco_daloe/" class="fa fa-instagram" title="Instagram" target="_blank"></a></li>
          <li><a href="https://github.com/Cesc84" class="fa fa-github" title="Github" target="_blank"></a></li>
          <!-- <li><a href="#">Linkedin</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Github</a></li> -->
        </ul>
      </div>
    </div>
    <!-- Scrollbar Down -->
    <aside class="scrollbar down">
      <a href="#work">Scroll Down</a>
    </aside>
  </div>
</section>
