<!-- SHOWCASE -->
<section id="showcase" class="grid-x grid-padding-x">
  <div class="grid-container ">
    <!-- Header -->
    <header class="large-12 cell text-center">
      <h2 data-aos="fade-up" data-aos-duration="1200">Take a look at my work</h2>
    </header>
    <!-- Cards Container -->
    <div id="cards" class="grid-x grid-padding-x grid-card">
      <div class="medium-6 large-4 cell">
        <article class="item text-center" data-aos="fade-up" data-aos-duration="1200">
          <!-- Card Image -->
          <figure>
            <img src="{{root}}/assets/img/cornwall.png" />
          </figure>
          <h4><big>Cornwall Insight</big></h4>
          <!-- Card Description -->
          <span class="description">
            <p>Micro-site built with Foundation Zurb. One of the first work as a Front End Developer. Working close to the designer and the Head of Studio made the difference.</p>
            <h5 class="extra fa fa-arrow-right"></h5>
          </span>
          <a class="abs-link" href="https://tomorrowuk.net/" title="Cornwall Insight" target="_blank">
            <!-- empty --></a>
        </article>
      </div>
      <div class="medium-6 large-4 cell">
        <article class="item text-center" data-aos="fade-up" data-aos-duration="1200">
          <!-- Card Image -->
          <figure>
            <img src="{{root}}/assets/img/positively.png" /><!-- fill in with featured img -->
          </figure>
          <h4><big>Positively Putney</big></h4>
          <!-- Card Description -->
          <span class="description">
            <p>Micro-site built with Foundation Zurb. One of the first work as a Front End Developer. Working close to the designer and the Head of Studio made the difference.</p>
            <h5 class="extra fa fa-arrow-right"></h5>
          </span>
          <a class="abs-link" href="http://positivelyputney.co.uk/" title="Positively Putney" target="_blank">
            <!-- empty --></a>
        </article>
      </div>
      <div class="medium-6 large-4 cell">
        <article class="item text-center" data-aos="fade-up" data-aos-duration="1200">
          <!-- Card Image -->
          <figure>
            <img src="{{root}}/assets/img/stilearredo2.png" />
          </figure>
          <h4><big>Stilearredo</big></h4>
          <!-- Card Description -->
          <span class="description">
            <p>Website created from scratch using HTML and SASS, where I've also had the chance to challenge myself with XD adobe to build the creatives.</p>
            <h5 class="extra fa fa-arrow-right"></h5>
          </span>
          <a class="abs-link" href="http://www.stile-arredo.it/" title="Stilearredo" target="_blank">
            <!-- empty --></a>
        </article>
      </div>
      <div class="medium-6 large-4 cell">
        <article class="item text-center" data-aos="fade-up" data-aos-duration="1200">
          <!-- Card Image -->
          <figure>
            <img src="{{root}}/assets/img/source.png" /><!-- fill in with featured img -->
          </figure>
          <!-- <div class="description"> -->
          <!-- Card Description -->
          <h4><big>Source Global Research</big></h4>
          <span class="description">
            <!-- <div class="callout">
              <div class="title-bar"></div>
            </div> -->
            <p>A podcast page implemented for Source website where I've also experienced a bit of back end side, like creating the custom fields on Worpress and integrating them on the php files on the FTP.</p>
            <h5 class="extra fa fa-arrow-right"></h5>
            <!-- <h5 class="web-link">See website</h5> -->
          </span>
          <!-- <h5>Micro-site built with Foundation Zurb. One of the first work as a Front End Developer. Working close to the designer and the Head of Studio made the difference.</h5> -->
          <!-- </div> -->
          <a class="abs-link" href="https://www.sourceglobalresearch.com/the-future-of-the-firm/" title="Source Global Research" target="_blank">
            <!-- empty --></a>
        </article>
      </div>
      <div class="medium-6 large-4 cell">
        <article class="item text-center" data-aos="fade-up" data-aos-duration="1200">
          <!-- Card Image -->
          <figure>
            <img src="{{root}}/assets/img/aspinal.png" /><!-- fill in with featured img -->
          </figure>
          <h4><big>Aspinal of London</big></h4>
          <!-- Card Description -->
          <span class="description">
            <p>I really enjoyed working on this HTML5 Dynamic banners where I could use my experience with Sass, JS, Jquery, Json and HTML.</p>
            <h5 class="extra fa fa-arrow-right"></h5>
          </span>
          <a class="abs-link" href="http://clients.tomorrowtth.com/aspinaloflondon/dyn-ban-with-price/" title="Aspinal of London" target="_blank">
            <!-- empty --></a>
        </article>
      </div>
      <div class="medium-6 large-4 cell">
        <article class="item text-center" data-aos="fade-up" data-aos-duration="1200">
          <!-- Card Image -->
          <figure>
            <img src="{{root}}/assets/img/zeek.png" />
          </figure>
          <h4><big>Zeek Choice</big></h4>
          <!-- Card Description -->
          <span class="description">
            <p>One of the four Landing Pages developed for ZeekChoice.</p>
            <h5 class="extra fa fa-arrow-right"></h5>
          </span>
          <a class="abs-link" href="http://clients.tomorrowtth.com/zeek/LP/zeek-lp-v1/index2.html" title="Zeek Choice" target="_blank">
            <!-- empty --></a>
        </article>
      </div>
    </div>
  </div>
</section>
